<b><h1 style="font-size:30px;text-align: center;">- Date Engineering  - Exercise 9 -</h1></b>
<b><h1 style="font-size:25px;text-align: center;">- Data Standardization -</h1></b>

<center><img src="https://www.algebra.hr/sveuciliste/wp-content/uploads/2023/11/algebra_UNIVERSITY-1-800x242.png"/></center>

---


<b>*Made: December 2024.* </b>

<b>*Author: Mislav SpajiÄ‡, mag. ing. comp.*</b>

# Data Standardization

## Introduction

**Data standardization in the broader sense is the process of transforming data from various sources into one common format so that all data in a dataset has the same structure and meaning.**

**This definition outlines the overarching goal of standardizing data, which is to:**

* Integrate Data from Diverse Sources: Combine data that may have originated from different systems, applications, or formats into a unified structure.

* Ensure Uniformity in Structure and Meaning: Make sure that all data follows the same schema, conventions, and interpretations, so it can be compared, analyzed, and processed effectively.

**Broader Context of Data Standardization**
* It is not limited to just a specific task like unit conversion, format normalization, or data type consistency. Instead, it encompasses all processes aimed at achieving uniformity and comparability.
* Examples in the broader sense include:
    * Harmonizing terminologies across datasets (e.g., "USA" vs. "United States" vs. "US").
    * Aligning data types (e.g., ensuring dates are stored as YYYY-MM-DD format everywhere).
    * Resolving discrepancies in measurement units (e.g., standardizing financial data in one currency).
    * Removing ambiguity in categorical values (e.g., consolidating gender entries like "Male" and "M" into "M").

---
* This broad definition emphasizes that standardization is foundational to integrating and using data effectively, especially in contexts like data warehousing, business intelligence, or machine learning, where consistent structure and meaning are critical.

**Data standardization includes processes such as:**

* Converting units (e.g., transferring all data values from miles to kilometers)

* Normalizing formats (e.g., standardizing date formats, metrics, or currencies, removing redundancy)

* Ensuring consistency in data type (e.g., maintaining consistent capitalization and naming conventions in one standard format)



---

## 1. Importing the required libraries

Below are the libraries that are used in the notebook.

In [ ]:
import pandas as pd
import random
import matplotlib.pyplot as plt



---

## 2. Converting Units (Height)

In [ ]:
# Set the random seed for reproducibility
random.seed(42)

# Creating a dataset of heights with mixed units
names = ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve', 'Frank', 'Grace', 'Hank', 'Ivy', 'Jack',
         'Karen', 'Leo', 'Mona', 'Nina', 'Oscar', 'Paul', 'Quincy', 'Rose', 'Steve', 'Tina']
units = ['cm', 'inch']

# Generate random heights and units for 20 individuals
heights = pd.DataFrame({
    'Name': names,
    'Unit': [random.choice(units) for _ in range(20)]
})

# Assign heights based on the unit
heights['Height'] = heights['Unit'].apply(
    lambda unit: random.randint(55, 80) if unit == 'inch' else random.randint(140, 200)
)

In [ ]:
heights

In [ ]:
# Plotting the issue (before standardization)
plt.figure(figsize=(8, 5))
plt.hist([heights.loc[heights['Unit'] == 'cm', 'Height'], 
          heights.loc[heights['Unit'] == 'inch', 'Height'] ], 
         label=['Original cm', 'Original inch'], bins=20, alpha=0.7)
plt.title("Height Distribution Before Standardization")
plt.xlabel("Height")
plt.ylabel("Frequency")
plt.legend()
plt.show()

In [ ]:
# defining function for conversion

# Converting all heights to cm
def convert_to_cm(row):
    if row['Unit'] == 'inch':
        return row['Height'] * 2.54
    return row['Height']

In [ ]:
# applying it
heights['Height_cm'] = heights.apply(convert_to_cm, axis=1)

In [ ]:
heights

In [ ]:
# Plotting after
plt.figure(figsize=(8, 5))
plt.hist(heights['Height_cm'], 
         label=['Converted cm'], bins=20, alpha=0.7)
plt.title("Height Distribution After Standardization")
plt.xlabel("Height")
plt.ylabel("Frequency")
plt.legend()
plt.show()



---

## 3. Normalizing Formats (Dates)

In [ ]:
# Creating a dataset with inconsistent date formats
dates = pd.DataFrame({
    'Event': ['Meeting', 'Workshop', 'Conference', 'Webinar', 'Summit', 'Lab'],
    'Date': ['01/15/2023', '2023-01-10', '16 Jan 2023', '10-01-2023', 'January 18, 2023', 'January 23, 22']
})

In [ ]:
# Converting all dates to a standardized format (YYYY-MM-DD)
dates['Standardized_Date'] = pd.to_datetime(dates['Date'])
print(dates)

In [ ]:
# Converting all dates to a standardized format (YYYY-MM-DD) using mixed format option
dates['Standardized_Date'] = pd.to_datetime(dates['Date'],format='mixed')
print(dates)

In [ ]:
# dayfirst argument
dates['Standardized_Date2'] = pd.to_datetime(dates['Date'],format='mixed', dayfirst = True)
print(dates)



---

## 4. Ensuring Consistency in Data Types (Formats) (Gender example)

In [ ]:
# Creating a dataset with inconsistent gender values
gender_data = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve', 'Frank'],
    'Gender': ['F', 'M', 'O', 'Male', 'Female', 'Other']
})

In [ ]:
gender_data

In [ ]:
gender_data.Gender.unique()

In [ ]:
# Standardizing gender to 'M', 'F', 'O' using map and dictionary
gender_mapping = {
    'F': 'F', 'Female': 'F',
    'M': 'M', 'Male': 'M',
    'O': 'O', 'Other': 'O'
}
gender_data['Standardized_Gender'] = gender_data['Gender'].map(gender_mapping)
print(gender_data)



---

## 5. Ensuring Consistency in Data Types (Formats) (Location example)

Firstly, import data using the pandas library and convert them into a dataframe. Through the `head(10)` method we print only the first 10 rows of the dataset.

In [ ]:
df = pd.read_csv('tweets.csv')
df.head(30)

In [ ]:
df.dropna(inplace=True)

## Incorrect data types
First of all, we should make sure that every column is assigned to the correct data type. This can be checked through the property `dtypes`.

In [ ]:
df.dtypes

In our case we can convert the column `Tweet Location` to `string` by using the function `astype()` as follows:

In [ ]:
df['Tweet Location'] = df['Tweet Location'].astype('string')

The `astype()` function supports all datatypes described at [this link](https://www.pytables.org/usersguide/datatypes.html).

## Make the data homogeneous
This aspect involves categorical and numeric data. Categorical data should have all the same formatting style, such as lower case. Numeric data should have for example the same number of digits after the point. In order to format all categorical data to lower case, we can use the following statement:

In [ ]:
df['Tweet Content'] = df['Tweet Content'].str.lower()

## Different values for the same concept
It may happen that the same concept is represented in different ways. For example, in our dataset, the column `Twitter Location` contains the values `Columbus,OH` and `Columbus, OH` to describe the same concept. We can use the `unique()` function to list all the values of a column.

In [ ]:
df['Tweet Location'].unique()

In order to deal with different values representing the same concept, we should manipulate each type of error separately. For example, we can manipulate every string `word,word` in order to insert a space after the comma and have the following output `word, word`. We can define a function, called `set_pattern()` which searches for a specific pattern into a string and then it performs some replacement in the same string, if the pattern is found. In our case we search for all the patterns having the structure `word,word` and then we replace the `,` with `, `. Finally we return the result.

In [ ]:
import re
def set_pattern(x):
    pattern = r'[(A-Z)]\w+,([A-Z])\w+'
    res = re.match(pattern, x)
    if res:
        x = x.replace(',', ', ')
    return x

Now we can apply the function to every value in the column `Tweet Location`. This can be achieved by using the function `apply()` combined with the operator `lambda`. We can specify that the function `apply()` must be applied to every row (through the parameter `axis = 1`) and then through the `lambda` operator we can select the specific row and apply it the function `set_pattern()`.

In [ ]:
df['Tweet Location'] = df['Tweet Location'].apply(lambda x: set_pattern(x))

In [ ]:
df.head(30)

In [ ]:
df['Tweet Location'].unique()